@(users: List[User])

@main("Users list") {
<h2>Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>getUsers</th>
            <th>password</th>
        </tr>
    </thead>
    <tbody>
    @for(user <- users) {
        <tr>
            <td><a href="@routes.Users.readUser(user.id)">@user.username</a></td>
            <td>@user.password</td>
            <td><a onclick="del('@routes.Users.deleteUser(user.id)')"><i class="glyphicon glyphicon-trash"></i></a></td>
        </tr>
    }
</table>
    <div><a href="@routes.Users.userForm()">New user</a></div>
    <div><a href="@routes.Login.logout()">Logout</a></div>

    <script>
            function del(urlToDelete) {
                $.ajax({url: urlToDelete, type: 'DELETE', success: function(results) {
                    location.reload();
                }
                });
            }
    </script>
}